.bg44 {
  position: relative;
  margin: 7px;
}
.bt-top {
  margin: 80px 0px;
}
.ft-btmn {
  height: 100%;
  left: 0;
  position: absolute;
  top: 41px;
  width: 100%;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.ft-btmn h1 {
  font-weight: 700;
  color: #fff;
  font-size: 26px;
}
.ft-btmn h4 {
  font-weight: 600;
  color: #fff;
  font-size: 19px;
}
